    /*RESET */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
     color: inherit;
}
ul, ol, li{
    list-style-type: none ;
}

    /* FIM RESET */

body {
    height: 100vh;
    Display: flex;
    flex-direction: column;
}
main{
    flex-grow: 100px;
    background-color: pink;
}

header{
    height: 200px;
    Background-color: lightblue;
}


footer{
    height: 100px;
    background-color: lightgoldenrodyellow;
}